.nav-bar{
	position: fixed;
	height:130px;
	width:100%;
	background: yellow;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-bar__logo{
	height:50%;
	margin-left: 50px;
}

.nav-bar__buttons{
	margin-right: 50px;
}