@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bungee+Inline');

.stormdamage-section {
	width: 100%;
	min-height:50vh;
	background-color: #ffffff;
	font-family: 'Abril Fatface';
}


.title5 {

	border-left: 70px solid;
	border-color: green;
	text-align: center;
	font-size: 70px;
	padding-left: 20px;

}

.title{
	font-size: 70px;
	color: #55b65f;
	text-align: center;
	font-family: 'Roboto', sans-serif
}