

.stumpgrinding-section{
	width: 100%;
	min-height: 70vh;
	background:  linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
	url("https://fthmb.tqn.com/J2sC5-6ZWWkXeXX5g1RB8_tDq_o=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/tree-stump-big-5799efda3df78c3276ce7412.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(200, 200, 200, 0.7);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}




.question {
	font-size: 120px ;
	color:white;	
	font-weight: 800;
	text-align: left;
	line-height: 120px;
	margin-bottom: 50px;
}

.answer {
	font-size: 30px ;
	color:white;	
	font-weight: 300;
	text-align: left;
}
