

.footer-section{
	/*background: white;*/
	width: 100%;
	height: 40vh;
	font-family: 'Abril Fatface';
	display: flex;
	justify-content:center;
}



.name-2 {
	font-size:100px;
}

.email-2 {
	font-size:100px;
}

.message-1 {

}
.message-2 {
	font-size: 100px;

}

/*.big-word { 
	font-size: 50px;
	font-weight: 800;
	color: black;
 }

.name-size {
	font-size: 35px;

}

.message-size {

	
}

.maarginn {

	margin-top: 30px;
}

.message-right {

	margin-left: 600px;

}*/